{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load dractags %}

{% block extrahead %}
    <style>
        .container{
            margin-top: 40px;
            margin-bottom: 40px;
        }
    </style>
{% endblock extrahead %}


{% block content %}
<div class="container">
    <form method="POST" action="" id="create-or-edit"  enctype="multipart/form-data"> {% csrf_token %}   
        {{ form.media }}
        {{ form|crispy }}
        <button class="btn btn-info" type="submit" id="draft">Save Draft</button>
        <button class="btn btn-primary" type="submit" id="publish">Publish</button>
    </form>  
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/post.js' %}">
    </script>
{% endblock script %}