<style>

</style>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'post:home' %}">ViBlog</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'post:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="col-md-4" style="margin-right: 460px;">
        <div class="input-group">
          <form role="search" class="input-group" action="{% url 'search:search_query' %}" method="GET">
              <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
          </form>
   
        </div>
      </div>
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'post:create' %}">New Article</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'core:profile' user.username %}">Profile</a>
              <a class="dropdown-item" href="{% url 'core:list_posts' user.username %}">Editor</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
      </li>

        {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>